body{
	margin: 0;
	padding: 0;
}

label{
	display: block;
}
.repositorio{
  padding-top: 50px;
}
.alert{
  margin-top:40px;
}
h2.criar-repo{
  margin-bottom: 20px;
}
.text-muted>a{
  text-decoration: none;
}
#container{
	width: 1000px;
	margin: 0 auto;
}
/*SIGN IN FORM*/
#form-area{
	margin: 50px 0 50px 0;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*END SIGN IN FORM*/